.personal-content {
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
}

.personal-profile {
    animation: fade-in 1s ease-in-out;
}

.personal-content p a {
    color: rgba(39, 35, 37, 0.8);
}

.personal-content p a:hover {
    color: rgba(116, 103, 110, 0.8);
}

.personal-content p a:visited {
    text-decoration: none;
}