.skills {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.skills-list {
    padding: 0;
}

.skills-list li{
    display: inline;
}

.skill-card {
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px grey;
    background-color: white;
    border-left: 5px solid #07bd76;
    /*text-align: center;*/
}

.skill-card h4{
    margin-top: 0;
    margin-bottom: .8em;
    color: #02bf61;
}

.skill-more {
    position: absolute;
    bottom: 10px;
    right: 5px;
    display: inline;
    text-align: right;
}

.skill-more p {
    margin: 0;
}

.skillList {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.skillList li {
    width: 45%;
    transition: all 500ms ease-in;
}

.skill-block {
    position: relative;
    display: block;
    border-radius: 10px;
    box-shadow: 1px 2px 5px grey;
    background-color: #02bf61;
    color: white;
    margin: 5px;
    text-align: left;
}

.skill-block p {
    margin: 5px;
    display: inline-block;
}

.level {
    position: absolute;
    right: 0px;
    display: inline-block;
    text-align: right;
    opacity: 0;
    transition: opacity 500ms ease-in;
}


@media screen and (min-width: 768px) {
    .skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill-item {
        width: 50%;
        padding:10px;
        /*margin: 10px;*/
    }

    .skill-card {
        min-height: 240px;
    }

    .skillList {
        margin-top: 20px;
    }
}


/*.level-bar {*/
/*display: block;*/
/*margin-bottom: 10px;*/
/*}*/

/*.level-title {*/
/*color: #04ff83;*/
/*width: 50px;*/
/*}*/

/*.bar-fill {*/
/*display: inline-block;*/
/*width: 2px;*/
/*height: 10px;*/
/*background-color: #04ff83;*/
/*border-radius: 10px;*/
/*transition: width .5s linear;*/
/*}*/

/*.level-value {*/
/*margin-left: 5px;*/
/*opacity: 0;*/
/*transition: opacity 0.5s linear;*/
/*color: #04ff83;*/
/*}*/